.cart-item-container {

    display: flex;
    height: 100px;
    margin-bottom: 15px;
    justify-content: center;

}

.item-details {
    /*width: 70%;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
}

.name {
    font-size: 20px;
}
.cart{
    display:flex;
    margin:5% 49% 2% 40%;
   /*margin-left:25%;*/
   /* margin-right:45%;*/
   /* margin:5%;*/
   flex-wrap:wrap;
    justify-content: center;
    align-items: center;

    /*column-gap: 25px;*/

}
 .remove-btn{
    border-radius:5px;
    text-decoration: none;
    font-size: 15px;
    background-color: indianred;
    border-style: none;
    color:white;
     padding: 4% 8%;

}
.cart .cart-count:after{
    content:attr(value);
    font-size:12px;
    border-radius:80%;
    padding:3px;
    position:relative;
    left:-260px;
    top:-130px;
    opacity:0.9;
    background-color: lightblue;
    backface-visibility: visible;
    font-weight:bold;
}