.nav-bar .home-click,.products-click,.cart-click {
    padding:1%;
    font-family: "Arial Black";
    color:black;
    font-size: 23px;

}
.nav-bar {
  display: flex;
    flex-wrap: wrap;
    column-gap: 1%;
}
.nav-bar .home-click .home,.products-click .products-route, .cart-click .cart-route{
    text-decoration: none;
    font-family: "Arial Black";
    color:black;

}
.nav-bar .routes-words{
    display: flex;
    margin-top: 2%;
    column-gap: 5%;


}
