.nav-bar .home,.products-route,.cart-route {
    text-decoration: none;
    padding:1%;
    font-family: "Arial Black";
    color:black;
    font-size: 23px;
    margin-top:1%;

}
.nav-bar {
  display: flex;
    margin-top:2%;
    margin-left:1%;
}